@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Urbanist&display=swap');

// define fonts and sizes

$headers-font: 'Manrope', sans-serif;
$paragraph-font: 'Urbanist', sans-serif;

* { font-size: 20px;}


$font-large: 1.5rem;
$font-medium: 1.1rem;
$font-small:0.8rem;

h1, h2, h3 { font-family: $headers-font; }

p, a {
  font-family: $paragraph-font;
  font-size: $font-medium;
}

a { text-decoration: none; }


// define font sizes

h1 { font-size: 1.5rem; }

h2 { font-size: 2rem; }

h3 {
  font-size: 1.1rem;
  margin: 0;
}

// define colors and background

$beige: #FCF6E7;
$green: #66ABAA;
$red: #E6553F;
$brown: #332E27;
$yellow: #E9D262;

body {
  color: $brown;
  background-color: $beige;
}

//spacing

html { padding: 8px; }

section {
  margin: 24px;
  padding-top: 80px;
 }
